[submodule "mozilla-ca"]
	path = mozilla-ca
	url = https://github.com/Chia-Network/mozilla-ca.git
[submodule "chaingreen-blockchain-gui"]
	path = chaingreen-blockchain-gui
	url = https://github.com/todortron/chaingreen-blockchain-gui.git
